html, body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.App, .home, .profile, .stats {
  height: 100vh;
}


#navBarBtn {
  position: absolute;
  width: 100px;
  height: 40px;
  left: 30px;
  bottom: 30px;
}

