.home {
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url('../home1.1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    text-align: center;
}

.home-dropdown {
    width: 300px;
    margin: 0 auto 0 auto;
    position: absolute;
    bottom: 5rem;
    left: 0;
    right: 0;
}

#cards-grid-container {
    height: 70vh;
    width: 80vw;
    margin-top: auto;
    margin-bottom: 10rem;

}

#cards-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* margin-top: 5vh; */
    bottom: 0;
    column-gap: 1rem;
    row-gap: 1rem ;
}

.ui.card.tweetcard {
    margin: auto;
    height: 20vh;
}

.description {
    overflow: auto;
}

@media (min-width: 1200px) {
    #cards-grid-container {
        width: 1000px;
    }
}

@media (max-width: 800px) {
    #cards-grid-container {
        width: 100%;

    }
    #card-grid {
        grid-template-columns: 1fr;
    }
}
